<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
    <style>
        .rtl {
            direction: rtl;
        }
    </style>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<nav class="blue darken-2">
    <div class="nav-wrapper row">
        <div id="navbar">
            <div class="col s3">
                {% block navbar %}
                {% endblock %}
            </div>
            <div class="col s9 rtl">
                سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.
            </div>
        </div>
    </div>
</nav>
{% block section %}
{% endblock %}
</body>
</html>