<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .rtl {
            direction: rtl;
        }
    </style>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<nav>
    <div id="navbar">
        <a id="login" href="">Login</a>
        <a id="register" href="">Register</a>
        <a id="homepage" href="{% url 'webelopers:index' %}">Homepage</a>
        سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.
    </div>
</nav>
</body>
</html>