{% extends 'base.html' %}
{% block title %}
    Panel
{% endblock %}
{% block section %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    {% if request.user.is_superuser %}
                        <a id="make_new_course" href="{% url 'webelopers:make_new_course' %}">Make New Course</a>
                    {% endif %}
                    <a id="courses" href="{% url 'webelopers:courses' %}">All Courses</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}