{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock %}
{% block section %}
    <div class="container">
        <div class="card-panel row">
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        First Name: <span id="text_first_name">{{ request.user.first_name }}</span>
                    </div>
                    <div class="col s6">
                        Last Name: <span id="text_last_name">{{ request.user.last_name }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        Username: <span id="text_user_name">{{ request.user.username }}</span>
                    </div>
                </div>
            </div>
            <a id="setting" href="{% url 'webelopers:edit_profile' %}">Edit Profile</a>
        </div>
    </div>
{% endblock %}
