{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
{% block section %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <form id="register_form" action="{% url 'webelopers:register' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" name="first_name" type="text" class="validate" required>
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" name="last_name" type="text" class="validate" required>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" name="username" type="text" class="validate" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="password1" name="password1" type="password" class="validate" required>
                                <label for="password1">Password</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="password2" name="password2" type="password" class="validate" required>
                                <label for="password2">Repeat Password</label>
                            </div>
                        </div>
                        <button name="submit" type="submit" class="waves-effect waves-light btn">Register</button>
                    </form>
                    <div id="errors">
                        {% if username_invalid %}
                            نام کاربری شما در سیستم موجود است
                        {% endif %}
                        {% if password_invalid %}
                            گذرواژه و تکرار گذرواژه یکسان نیستند
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}